.menu {
    font-weight: 700;
    width: 100%;
    padding-top: 10px;
    background-color: #e5e5f7;
}
.headerMenu {
    font-size: 3.4rem;
    border-bottom-color: #110ae6;
    border-bottom-style: solid;
    margin-bottom: 20px;
}
.footerMenu {
    font-size: 2.5rem;
    border-top-color: #110ae6;
    border-top-style: solid;
    padding-bottom: 10px;
}
a {
    color: #110ae6;
}
.menu a {
    text-decoration: none;
}
.menuItem {
    padding-left: 36px;
}
.nohuman {
    position: absolute;
    left:   -1000px;
}
.searchInput {
    display: inline;
    float: right;
    padding-right: 20px;
    margin-top: -10px;
}
.searchInput input {
    padding-left: 30px;
}
code {
    /* Fixes a white-ish ugly border that sometimes shows up in prettified code blocks */
    border: none;
}
.tagItem a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.tagItem {
    background: #b9eafa;
    background: black;
    padding: 4px;
    padding-top: 8px;
    margin-right: 4px;
}
input[type="submit"] {
    background-color: #110ae6;
    color: #eee;
}
.related {
    font-weight: bold;
    font-style: italic;
}
.blogList {
    max-width: 500px;
}
.articleTags {
    padding: 10px 0 0 20px;
}
.articleDescription {
    padding: 10px 0 0 20px;
    font-style: italic;
}
h2 {
    font-size: 3.5rem;
}
pre > code {
    /* Necessary for the background color to cover the whole code, also after horizontal scrolling */
    display: inline-block;
    min-width: 96%;
}
html, body {
    /* Needed together with .container css to push the footer to the bottom of the page on shorter pages. */
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
}
.footerMenu > .menuItem {
    padding-left: 22px;
    margin-left: auto;
}
.tagLink {
    font-size: larger;
    font-weight: bold;
}
h1 {
    font-weight: 600;
}