.menu {
    font-size: 3.4rem;
    font-weight: 700;
    width: 100%;
    padding-top: 10px;
    border-bottom-color: #110ae6;
    border-bottom-style: solid;
    margin-bottom: 20px;
    background-color: #e5e5f7;
}
a {
    color: #110ae6;
}
.menu a {
    text-decoration: none;
}
.menuItem {
    padding-left: 36px;
}
.nohuman {
    position: absolute;
    left:   -1000px;
}
.searchInput {
    display: inline;
    float: right;
    padding-right: 20px;
    margin-top: -10px;
}
.searchInput input {
    padding-left: 30px;
}
pre {
    /*  This fixes part of the background of a code block
        being white when scrolling horizontally */
    background: black;
}
code {
    /* Fixes a white-ish ugly border that sometimes shows up in prettified code blocks */
    border: none;
}
.tagItem a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.tagItem {
    background: #b9eafa;
    background: black;
    padding: 4px;
    margin-right: 4px;
}
input[type="submit"] {
    background-color: #110ae6;
    color: #eee;
}
.related {
    font-weight: bold;
    font-style: italic;
}
.blogList {
    max-width: 500px;
}
.articleDescription {
    padding: 10px 0 0 20px;
    font-style: italic;
}
h2 {
    font-size: 3.5rem;
}
