.menu {
    font-size: 3.4rem;
    width: 100%;
    padding-top: 10px;
    border-bottom-color: #1eaedb;
    margin-bottom: 20px;
}
.menu a {
    text-decoration: none;
}
.menuItem {
    padding-left: 36px;
}
.nohuman {
    position: absolute;
    left:   -1000px;
}
body {
    background-image: url("../img/paper.png");
}
.searchInput {
    display: inline;
    float: right;
    padding-right: 20px;
    margin-top: -10px;
}
.searchInput input {
    padding-left: 30px;
}
pre {
    /*  This fixes part of the background of a code block
        being white when scrolling horizontally */
    background: black;
}
code {
    /* Fixes a white-ish ugly border that sometimes shows up in prettified code blocks */
    border: none;
}
.tagItem {
    background: #b9eafa;
    background: black;
    color: white;
    padding: 4px;
    font-weight: bold;
    margin-right: 4px;
}
input[type="submit"] {
    background-color: #1EAEDB;
}
.related {
    font-weight: bold;
    font-style: italic;
}