${article_tags}
${related_blogs}
</article>
</div>
<footer class="menu footerMenu">
    <a href="contact.html" class=menuItem>contact</a>
    <a href="about.html" class=menuItem>about</a>
</footer>
</body>
</html>
