<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>${title}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="${description}">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">

    <script src="js/run_prettify.js?skin=sons-of-obsidian"></script>
    ${roach_js}
</head>
<body>
<header class="menu headerMenu">
    <a href="index.html" class=menuItem>jan jongerden</a>
</header>
<div class=container>
<article>
<h1>${title}</h1>
